.project-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 3vw;
  padding: 3vw;
  margin: 2vh;
  width: 78vw;
  aspect-ratio: 3 / 1;
  border-radius: 1vw;
  background: #ffffff;
  box-shadow: 0.2vw 0.4vw 0.4vw rgba(0, 0, 0, 0.25);
  overflow: hidden; 
}

.project-card.flipped {
  flex-direction: row-reverse;
}

.project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.project-title-and-tags {
  display: flex;
  flex-direction: row;
  align-items: flex-end; /* aligns title and tags along the bottom */
  justify-content: space-between;
  width: 100%;
  gap: 1vw;
}

.project-title-and-tags .title {
  position: static;
  color: black;
  font-size: clamp(1.2rem, 1vw + 0.8rem, 2rem);
  font-weight: 600;
  width: auto;
}

.tags-box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.4vw;
  flex-grow: 1;
}


.tag {
  padding: 0.2em 1em;
  background: #a0a2bd;
  color: #fff;
  font-weight: 500;
  font-family: Consolas, monospace;
  border-radius: 15px;
  font-size: clamp(0.7rem, 0.6vw + 0.4rem, 1rem);
}

.buttons-box {
  display: flex;
  gap: 2vw;
}

.screenshots {
  width: 34vw;
  height: -webkit-fill-available;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  border-radius: 2%;
}

/* Portrait layout */
@media (orientation: portrait) {
  .project-card {
    flex-direction: column;
    align-items: center;
    aspect-ratio: 5 / 7;
    width: 90vw;
    height: auto;
  }

  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
  }

  .project-info .title {
    font-size: clamp(1.2rem, 2vw, 1.8rem);
  }
  
  .buttons-box {
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .buttons-box button {
    width: 40vw;
    max-width: 240px;
    height: 50px;
  }
}
