.project-card{
    display: flex;
    width: 78vw;
    height: 455px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 50px;
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    margin: 25px;
}

.project-content{
    display: flex;
    flex-direction: column;
    height: 425px;
    justify-content: space-between;
}

.project-title-and-tags{
    border: 2px dashed red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    width: 52vw;
}

.tags-box{
    border: 2px solid blue;
    display: flex;
    align-items: center;
}

.tag{
    border-radius: 15px;
    background: #A0A2BD;
    display: inline-flex;
    padding: 2px 25px;
    justify-content: center;
    align-items: center;    
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    font-family: Consolas, monospace;
    font-weight: 400;
    line-height: 34px;
    margin: 2px;
}

.buttons-box{
    border: 2px solid green;
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.buttons-box button{
    width: 240px;
    height: 60px;
    font-size: 18px;
}

.screenshots{
    width: 425px;
    height: 425px;
    object-fit: cover;
}