.testimonials-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.title-box {
  z-index: 3;
  position: relative;
  text-align: center;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 100%;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  position: absolute;
  transition: all 0.6s ease-in-out;
  opacity: 0.4;
  transform: scale(0.8);
}

.carousel-item.active {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 2;
}

.carousel-item.prev {
  transform: translateX(-40%) scale(0.9);
  opacity: 0.6;
  z-index: 1;
}

.carousel-item.next {
  transform: translateX(40%) scale(0.9);
  opacity: 0.6;
  z-index: 1;
}

.carousel-item.hidden {
  display: none;
}

.scroll-btn {
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 50%;
  font-size: 2.5rem;
  color: black;
  background: rgba(255, 255, 255, 0.85);
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.scroll-btn:hover{
  transform: scale(1.025);
}

.scroll-btn.left {
  left: 3vw;
}

.scroll-btn.right {
  right: 3vw;
}
